<div class='container'>
    <%= link_to   legos_path, class: 'btn btn-light rounded mb-4' do %>
    <i class="fas fa-undo-alt"></i> Back to LEGO
    <% end %>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Bookings</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <h3 class="pt-4">My Orders</h3>
    <p>Here you can see all the LEGOs that you booked!</p>
    <% @user_bookings.each do |booking| %>
    <div class="card-upstanding-booking w-100">
        <% if booking.lego.photo.attached? %>
        <%= cl_image_tag booking.lego.photo.key, crop: :fill %>
        <% else %>
        <%= image_tag 'heads.jpg' %>
        <% end %>

        <div class="card-booking-infos px-3 w-100">
            <div class="d-flex flex-row justify-content-between align-items-center mb-3">
                <h4 class="pt-3 text-danger">Booking of <%= booking.lego.name %></h4>
                <div>

                    <%= link_to edit_booking_path(booking), remote: true do %>
                      <i class="fas fa-pencil-alt mr-3"></i>
                    <% end %>

                    <%= link_to booking_path(booking), method: 'delete', data: {confirm: "Are you sure?"} do %>
                    <i class="fas fa-trash-alt"></i>
                    <% end %>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <div>
                    <p>Pick up date: <strong><%= booking.transform_start_date %></strong></p>
                    <p>Restitution date: <strong><%= booking.transform_end_date %></strong></p>
                </div>
                <div>
                    <p>Price per day: € <%= number_with_precision(booking.lego.price, precision: 2) %></p>
                    <h6>Total price: <strong class="text-danger">
                            €
                            <%= number_with_precision((booking.day_of_rent * booking.lego.price), precision: 2) %></strong>
                    </h6>
                </div>
            </div>
        </div>

    </div>
    <% end %>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <h3 class="pt-4">My Bookings</h3>
    <p>Here you can see which of your LEGOs has been booked!</p>
    <% @received_bookings.each do |booking| %>
    <div class="card-upstanding-booking w-100">
        <% if booking.lego.photo.attached? %>
        <%= cl_image_tag booking.lego.photo.key, crop: :fill %>
        <% else %>
        <%= image_tag 'heads.jpg' %>
        <% end %>

        <div class="card-booking-infos px-3 w-100">
            <div class="d-flex flex-row justify-content-between align-items-center mb-3">
                <h4 class="pt-3 text-danger">Booking of <%= booking.lego.name %></h4>
                <div>

                    <%= link_to edit_booking_path(booking), remote: true do %>
                      <i class="fas fa-pencil-alt mr-3"></i>
                    <% end %>

                    <%= link_to booking_path(booking), method: 'delete', data: {confirm: "Are you sure?"} do %>
                    <i class="fas fa-trash-alt"></i>
                    <% end %>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <div>
                    <p>Pick up date: <strong><%= booking.transform_start_date %></strong></p>
                    <p>Restitution date: <strong><%= booking.transform_end_date %></strong></p>
                </div>
                <div>
                    <p>Price per day: € <%= number_with_precision(booking.lego.price, precision: 2) %></p>
                    <h6>Total price: <strong class="text-danger">
                            €
                            <%= number_with_precision((booking.day_of_rent * booking.lego.price), precision: 2) %></strong>
                    </h6>
                </div>
            </div>
        </div>

    </div>
    <% end %>
  </div>
</div>
</div>








