<%# # TODO: TWO CARDS PER ROW CENTERED %>

<div class="container">
  <h2 class="mb-4 mt-4 text-center">Legos around you</h2>
  <div class="row">
    <% @legos.each do |lego| %>
      <div class="col-sm-6">
        <div class="card-product">
          <%# WHEN CLOUDINARY IS ADDED: CHANGE if false TO if lego.photo.attached? %>
          <% if false %>
            <%= cl_image_path lego.photo.key, crop: :fill %>
          <% else %>
            <%# WHEN CLOUDINARY IS ADDED: FEEL FREE TO CHANGE img TAG INTO CLOUDINARY TAG: <%= cl_image_tag("image_id", crop: :fill) %>
            <img src="https://images.unsplash.com/photo-1485550409059-9afb054cada4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1301&q=80" alt="lego">
          <% end %>
          <div class="card-product-infos">
            <h2><%= link_to lego.name, lego_path(lego) %></h2>
            <p>Have fun with <strong><%= lego.pieces %> pieces</strong> for <%= lego.price %> EUR per day.</p>
            <p><%= link_to "See more", lego_path(lego) %></p>
          </div>
        </div>
      </div>
      <%# # WHILE BOOKING USER JOURNEY IS BEING ADDED: USE BOOK NOW BUTTON (CHANGE STYLE - CURRENTLY SUCKS) %>
      <%# <div>
        <%= link_to "Book LEGO", "#", class: "btn btn-gradient" %>
      <%# </div> %>
    <% end %>
  </div>
</div>
