<div class="container my-5">
    <div class="card rounded showcard">
      <% if @lego.photo.attached? %>
    <%= cl_image_tag @lego.photo.key, crop: :fill, class: "show-image" %>
    <% else %>
      <%= image_tag 'lego-game.jpg', class: "show-image" %>
    <% end %>

        <div class="details-show-text w-100 p-4">
            <h5><%= @lego.name %></h5>
            <p class="pr-5">Number of pieces: <strong><%= @lego.pieces %></strong></p>
            <p class="description-show"><%= @lego.description %></p>
            <h5 class="text-right pr-3 text-danger">€ <%= number_with_precision(@lego.price, precision: 2) %> per day</h5>

        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <%= link_to "Go back", legos_path, class: 'btn btn-danger rounded mr-1' %>
    <% if @lego.user == current_user %>
    <%= link_to "Edit", edit_lego_path(@lego), class: 'btn btn-danger rounded mr-1' %>
    <%= link_to "Delete", lego_path, class: 'btn btn-danger rounded', method: 'delete', data: {confirm: "Are you sure?"}%>
    <% end %>
</div>
