<div class="container d-flex justify-content-center mb-5">
  <div class="box">
    <div class="box-image">
      <% if @lego.photo.attached? %>
      <%= cl_image_tag @lego.photo.key, crop: :fill, class: "show-image" %>
      <% else %>
      <%= image_tag 'lego-game.jpg', class: "show-image" %>
      <% end %>
    </div>
    <div class="details-legos">
      <div class="row">
        <div class="col-6 pt-3">
          <div class="details-show-text">
            <div class=" d-flex flex-row justify-content-between align-items-center">
              <h4 class="my-2"><%= @lego.name %></h4>
              <div class="details-show-icons">
                <% if @lego.user == current_user %>
                <%= link_to edit_lego_path(@lego) do %>
                <i class="fas fa-pencil-alt mr-3"></i>
                <% end %>
                <%= link_to lego_path(@lego), method: 'delete', data: {confirm: "Are you sure?"} do %>
                <i class="fas fa-trash-alt"></i>
                <% end %>
                <% else %>
                <i id="heart" class="fas fa-heart mt-4"></i>
                <% end %>
              </div>
            </div>
            <hr>
            <div>
              <p><%= image_tag 'lego.png', class: "lego-icon" %> <strong><%= @lego.pieces %></strong></p>
              <p><i class="fas fa-map-marker-alt"></i> <strong><%= @lego.address %></strong></p>
              <p><i class="fas fa-euro-sign"></i> <strong><%= number_with_precision(@lego.price, precision: 2) %> per
                  day</strong></p>
            </div>
            <p><%= @lego.description %></p>
          </div>
        </div>
        <div class="col-6">
          <div class="card-book-lego mt-4 py-5">
            <h5 class="text-center pb-3"><strong>Interested in this LEGO? Book here!</strong></h5>
            <%= simple_form_for [ @lego, @booking ] do |f| %>
            <%= f.input :start_date, as: :date, html5: true %>
            <%= f.input :end_date, as: :date, html5: true %>
          <div class="details-show-price py-2 pr-1">
            <h6 class="text-right" id="price-sum" data-price="<%= @lego.price %>">Total Price: € <%= number_with_precision(@lego.price, precision: 0) %></h6>
          </div>
            <%= f.submit "book now", class: "btn btn-danger w-100" %>
            <% end %>
          </div>

        </div>
      </div>


      <div class="py-4">
        <div>
          <h6><strong>See here what our clients think about <%= @lego.name %></strong></h6>
          <hr>
          <div class="py-2">

          <% @reviews.each do |review| %>
              <div class="d-flex py-3 justify-content-between border-1">
              <%= review.content %>
              <div class="d-flex mb-2">
              <% review.rating.round.times do  %>
                <i class="fa fa-star pt-2" aria-hidden="true"></i>
              <% end  %>
              </div>
              </div>
          <% end %>
          </div>
          <div class="py-3">
            <% if @lego.already_booked?(current_user) %>
            <div class="d-flex flex-column">
              <h6 class="text-danger">Please, feel free to leave your review here!</h6>
              <div>
              <%= simple_form_for [ current_user.bookings.last, @review] do |f| %>
                <%= f.input :content %>
                <%= f.input :rating, collection: Review::STARS %>
                <%= f.submit "Submit review", class: " btn btn-outline-danger" %>
              <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div>
    </div>
  </div>
</div>
<div class="text-center mb-4">
  <%= link_to   legos_path, class: 'btn btn-light rounded mr-1' do %>
  <i class="fas fa-undo-alt mt-2 ml-2"></i> Back to LEGO
  <% end %>
</div>

