<div class="container my-5">
    <div class="card d-flex rounded show">
        <%= image_tag 'lego-game.jpg', class: "show-image" %>
        <div class="details-show-text w-100 p-3">
            <h5><%= @lego.name %></h5>
            <p class="pr-5">pieces: <%= @lego.pieces %></p>
            <p class="description-show"><%= @lego.description %></p>
            <h5 class="text-right pr-3 text-danger">€ <%= number_with_precision(@lego.price, precision: 2) %></h5>

        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <%= link_to "go back", legos_path, class: 'btn btn-danger rounded' %>
</div>