<div class="container">
    <div class="card">
        <p><%= @lego.name %></p>
        <p><%= @lego.price %></p>
        <p><%= @lego.pieces %></p>
        <p><%= @lego.description %></p>
    </div>
    <%= link_to "go back", legos_path %>
</div>