
<div class="container mt-5">
  <div class="row banner-row align-items-center justify-content-center">
    <div class="col-lg-5 col-md-5 col-sm-12">
        <%= image_tag "lego-banner.jpg", class: 'w-100' %>
    </div>
    <div class="col-sm-12 col-md-6 banner-text">
        <h1>100 PIECES</h1>
        <h1>100% fun</h1>
        <p class="">Do you love LEGO? Join 100 PIECES, exchange LEGO sets with other builders and have unlimitied fun!</p>
        <%= link_to "Get started", new_user_registration_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>

<div class="container search-bar">
    <div class="row justify-content-start px-5">
        
        <%= form_tag legos_path, method: :get, class: "w-100 d-flex form-flex-end" do %>
            
            <div class="form-group form-flex-2 mb-0 mr-2">
                <label for="lego-input">LEGO</label>
                <%= text_field_tag :lego_query,
                    params[:lego_query],
                    class: "form-control",
                    id: "lego-input",
                    placeholder: "What do you want to build?"
                %>
            </div>

            <div class="form-group form-flex-2 mb-0 mr-2">
                <label for="location-input">Location</label>
                <%= text_field_tag :location_query,
                    params[:location_query],
                    class: "form-control",
                    id: "location-input",
                    placeholder: "Where are you looking?"
                %> 
            </div>

            <%= button_tag type: 'submit', class: "btn btn-outline-danger" do %>
                <i class="fas fa-search"></i>
            <% end %>
        <% end %>
    </div>
</div>
 
<div class="container how-it-works mb-4">
    <h3 class="mb-3">HOW IT WORKS</h3>
    <div class="row justify-content-between align-items-stretch px-5 py-4">
        <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <div class="card roudned p-4">
                <h5 class="mt-2">Choose your LEGO</h5>
                <%= image_tag "choice.svg", class: 'images-card' %>
                <p class="mt-4">Are you looking for a new challenge? Browse all LEGO sets near you.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <div class="card rounded p-4">
                <h5 class="mt-2">Make a booking</h5>
                <%= image_tag "booking.svg", class: 'images-card' %>
                <p class="mt-4">Have you found the LEGO set you like? Make a booking with the owner.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <div class="card rounded p-4">
                <h5 class="mt-2">Build it!</h5>
                <%= image_tag "build.svg", class: 'images-card' %>
                <p class="mt-4">Now pick up your LEGO set and get down to putting those bricks together!</p>
            </div>
        </div>
 
  </div>
</div>
