<div class="container">
  <div class="row banner-row align-items-center justify-content-center">
    <div class="col-lg-5 col-md-5 col-sm-12">
        <%= image_tag "lego-banner.jpg", class: 'w-100' %>
    </div>
    <div class="col-sm-12 col-md-6 banner-text">
        <h1>100 PIECES</h1>
        <h1>100% fun</h1>
        <p class="">Do you love LEGO? Join 100 PIECES, exchange LEGO sets with other builders and have unlimitied fun!</p>
        <%= link_to "Get started", new_user_registration_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>

<div class="container search-bar">
    <div class="row justify-content-start px-5">
        
        <%= form_tag legos_path, method: :get, class: "w-100 d-flex form-flex-end" do %>
            
            <div class="form-group form-flex-2 mb-0 mr-2">
                <label for="lego-input">LEGO</label>
                <%= text_field_tag :lego_query,
                    params[:lego_query],
                    class: "form-control",
                    id: "lego-input",
                    placeholder: "What do you want to build?"
                %>
            </div>

            <div class="form-group form-flex-2 mb-0 mr-2">
                <label for="location-input">Location</label>
                <%= text_field_tag :location_query,
                    params[:location_query],
                    class: "form-control",
                    id: "location-input",
                    placeholder: "Where are you looking?"
                %> 
            </div>

            <%= button_tag type: 'submit', class: "btn btn-outline-danger" do %>
                <i class="fas fa-search"></i>
            <% end %>
        <% end %>
    </div>
</div>
 
<div class="container how-it-works mb-4">
    <h3 class="mb-3">HOW IT WORKS</h3>
    <div class="row justify-content-between align-items-stretch px-5 py-4">
        <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <div class="card roudned p-4">
                <h5 class="mt-2">Choose your LEGO</h5>
                <%= image_tag "1.svg", class: 'images-card mt-3' %>
                <p class="mt-4">Are you looking for a new challenge? Browse all LEGO sets near you.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <div class="card rounded p-4">
                <h5 class="mt-2">Make a booking</h5>
                <%= image_tag "2.svg", class: 'images-card mt-3' %>
                <p class="mt-4">Have you found the LEGO set you like? Make a booking with the owner.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <div class="card rounded p-4">
                <h5 class="mt-2">Build it!</h5>
                <%= image_tag "3.svg", class: 'images-card mt-3' %>
                <p class="mt-4">Now pick up your LEGO set and get down to putting those bricks together!</p>
            </div>
        </div>
  </div>

</div>

<div class="container text-center my-5 py-5">
    <h4 class="mb-4">OUR CLIENTS SPEAK</h4>
    <p>We are there for you all over Europe!</p>
    <div class="row justify-content-between align-items-stretch px-5 py-4">
    <div class="d-flex flex-column">
        <div class="speech-bubble p-4">
            <h6><strong>Fantastic experience with my son</strong></h6>
            <p>It's hard to say who had more fun: me or my son. We built the newest Star Wars set just within a few hours and are looking forward to book a Death Star! My son could not be more happy. (To be honest - me neither.)</p>
        </div>
        <div class="d-flex flex-column">
        <div class="d-flex justify-content-center mt-4 mb-3">
        <%= image_tag "https://images.unsplash.com/photo-1607990281513-2c110a25bd8c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1694&q=80", class: "avatar"%>
        </div>
            <h6>Leonardo</h6>
            <p><small>Napoli</small></p>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="speech-bubble p-4">
            <h6><strong>Back to childhood</strong></h6>
            <p>When the lockdown stroke I found myself really bored and gloomy... Then I discovered 100 Pieces! Building LEGO brought me back to my childhood memories and made my self-isolation time so much more fun. Thank you!</p>
        </div>
        <div class="d-flex flex-column">
        <div class="d-flex justify-content-center mt-4 mb-3">
        <%= image_tag "https://images.unsplash.com/photo-1518577915332-c2a19f149a75?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1384&q=80", class: "avatar"%>
        </div>
            <h6>Agata</h6>
            <p><small>Krakow</small></p>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="speech-bubble p-4">
            <h6><strong>Finally affordable LEGO</strong></h6>
            <p>I have always been a huge fan of LEGO. However, buying a new set every time you want to build something new can really take a tool on your wallet. Now I can afford as many sets as I have time to build. Loving it!</p>
        </div>
        <div class="d-flex flex-column">
        <div class="d-flex justify-content-center mt-4 mb-3">
        <%= image_tag "https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80", class: "avatar"%>
        </div>
            <h6>Karin</h6>
            <p><small>Amsterdam</small></p>
        </div>
    </div>
    </div>
</div>